{% extends 'basetemp.html' %}
{% block title %}
    Home Page
{% endblock %}

{% block content %}
<body class = "text-center">
    <div class = "container">
        <img class="mb-4" src="http://www.isaaa.org/kc/cropbiotechupdate/files/images/4222020122026AM.jpg"
                 alt="image" height="500" width="600">
            <h1 class="h3 mb-3 font-weight-normal">
               Welcome, please Login/Sign up using the navigation bar
            </h1>

    </div>
</body>
{% endblock %}
