{% extends 'basetemp.html' %}
{% block title %}
    First page
{% endblock %}

{% block content %}
   <body class = "text-center">
    <div class = "container">
        <img class="mb-4" src="http://www.isaaa.org/kc/cropbiotechupdate/files/images/4222020122026AM.jpg"
                 alt="image" height="500" width="600">
            <h1 class="h3 mb-3 font-weight-normal">
               Welcome, logged in successfully
            </h1>

    </div>
    </body>
{% endblock %}


